<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_gateway_config)/config/darknet_data"/>
  <arg name="yolo_config_path"           default="$(find darknet_gateway_config)/config/darknet_data"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(find darknet_gateway_config)/config/darknet_ros_elo.yaml"/>
  <!-- <rosparam file="$(find darknet_gateway_config)/config/darknet_data/darknet_ros_model_elo.yaml"/> -->
  <rosparam command="load" ns="darknet_ros" file="$(find darknet_gateway_config)/config/darknet_data/darknet_ros_model_elo.yaml"/>

  <!-- Start darknet and ros wrapper -->
  <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="log" launch-prefix="$(arg launch_prefix)">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
  </node>

  <node pkg="darknet_gateway_node" type="darknet_gateway.py" name="darknet_gateway" output="log">
  </node>

</launch>
